* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 15px;
}


:root {
    /*Colors*/
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --Dark_Gray: hsl(0, 0%, 55%);
    --Very_Dark_Gray: hsl(0, 0%, 41%);

    /*Fonts*/
    --Josefin_Sans: 'Josefin Sans', sans-serif;
    --Alata: 'Alata', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}


.mainContent {
    display: grid;
    grid-template-rows: 42rem 35rem 1fr 35rem;
    /*42rem 40rem 42rem 30rem*/
    row-gap: 5rem;
    padding: 0;
    min-width: 375px;
    /*8 rem*/
}

/*Header Content*/
.Header {
    display: grid;
    color: var(--White);
    grid-template-rows: minmax(4rem, 1fr) 30rem;
    /*35 rem 18rem*/
    background-image: url(./images/mobile/image-hero.jpg);
    background-size: cover;
    background-position: center;
    padding: 1rem;
    grid-template-areas: "HeaderNav"
        "HeaderBody";
}

/*Header Nav*/
.Header__Nav {
    grid-area: HeaderNav;
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    align-items: center;
}


.Header__Nav--Top>img {
    height: 5rem;
    /*1.3rem*/
}

.Header__Nav--List {
    display: none;
}

/*Header Toggle*/

.Header__Nav--Toggle {
    grid-area: HeaderBody;
    margin: .8rem 0;
    background-color: rgba(255, 255, 255, .1);
    /* background-color: red; */
    z-index: 999;
    border-radius: .6rem;
    padding: .5rem;
    display: flex;
    height: 15rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transform: translateY(-200%);
    opacity: 0;
    font-family: var(--Alata);
    transition: all .7s ease-in-out;
}

.Header__Nav--Toggle>a {
    border-bottom: 2px solid var(--White);
    padding-bottom: .6rem;
}




/*Class for toggle menu*/

.ToggleMenu {
    transform: translateY(0);
    opacity: 1;
}

.ToggleBody {
    transform: translateY(-200%);
    opacity: 0;
}




/*Header Body*/
.Header__Body {
    grid-area: HeaderBody;
    display: flex;
    height: 15rem;
    margin-top: 5rem;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--White);
    font-family: var(--Josefin_Sans);
    font-size: 3rem;
    text-align: center;
    transition: all .7s;
    /* display: none; */
}

/*History Content*/

.HistoryContent {
    display: grid;
    grid-template-rows: 17rem 20rem;
    row-gap: 1rem;
    padding: 0 1.7rem;
    /* margin: 0 auto; */
}

.HistoryContent>img {
    max-height: 100%;
    /* margin: 0 auto; */
}

.HistoryContent>img:nth-child(2) {
    display: none;
}

.History__Description {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    text-align: center;
    align-items: center;
}

.History__Description>p:first-child {
    font-size: 2rem;
    font-family: var(--Josefin_Sans);
    font-weight: 300;
}

.History__Description>p:nth-child(2) {
    font-size: 1.2rem;
    font-family: var(--Alata);
    color: var(--Dark_Gray);
}

/*Creation Content*/
.CreationContent {
    display: grid;
    grid-template-rows: 3rem 1fr 3.5rem;
    /*3rem auto 5rem*/
    row-gap: 3rem;
}

.CreationContent>p {
    justify-self: center;
    align-self: center;
    text-transform: uppercase;
    font-family: var(--Josefin_Sans);
    font-size: 2rem;
}

.Creation__Top--Desktop {
    display: none;
}

/*Creation Items */

.Creation__Items {
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    /*repeat 8,9.5*/
    row-gap: 1.5rem;
    padding: 0 1rem;
    overflow: hidden;
}

.Creation__Items--article {
    background-color: black;
    background-position: center;
    background-size: cover;
    padding: 1.3rem .7rem;
    display: flex;
    align-items: end;
    color: var(--White);
    font-family: var(--Josefin_Sans);
    font-size: 2rem;
    text-transform: uppercase;
}

.Creation__Items--article>p {
    width: 5rem;
    /* background-color: red; */
}

/*Creation Articles*/

.Earth {
    background-image: url(./images/mobile/image-deep-earth.jpg);
}

.Arcade {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./images/mobile/image-night-arcade.jpg);
    background-position: center;
    /* padding-left: 2.5rem; */
}

.Soccer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./images/mobile/image-soccer-team.jpg);
}

.Soccer>p {
    width: 10rem;
}

.Grid {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./images/mobile/image-grid.jpg);
}

.VR {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./images/mobile/image-from-above.jpg)
}

.VR>p {
    width: 14rem;
}

.Pocket {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./images/mobile/image-pocket-borealis.jpg);
}

.Curiosity {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./images/mobile/image-curiosity.jpg);
    background-position: left;
    padding-bottom: 2rem;
}

.Fisheye {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./images/mobile/image-fisheye.jpg);
    background-position: left;
}

.Fisheye>p {
    width: 10rem;
}

/*Creation Button*/

.Creation__SeeMore {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--Alata);
    /* background-color: red; */
}

.Creation__SeeMore>button {
    padding: .6rem 3.8rem;
    color: #000;
    background-color: transparent;
    border: 2px solid var(--Very_Dark_Gray);
    outline: none;
    text-transform: uppercase;
    font-family: var(--Alata);
    font-weight: 400;
    font-size: 1.1rem;
}

/*Fotter Content*/

.FotterContent {
    background-color: var(--Black);
    color: var(--White);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0;
}

.Fotter__Title {
    height: 2rem;
}

.Fotter__Title>img {
    height: 100%;
}

/*Fottter Nav*/

.Fotter__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.8rem;
    font-family: var(--Alata);
}

/*Fotter social*/

.Fotter_Social {
    display: flex;
    column-gap: 1.2rem;
}

/*Fotter Rights*/

.Fotter_Rights {
    font-family: var(--Josefin_Sans);
    font-size: 1.1rem;
    color: var(--Dark_Gray);
}



/*@media  Tablet: 768px*/

@media screen and (min-width:736px) {

    /*Main Content*/
    .mainContent {
        grid-template-rows: 28rem 20rem 48rem 6rem; /*28rem 20rem 48rem 35rem*/
        /*28rem 35rem 1rem 30rem*/
    }

    /*Header*/
    .Header {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./images/desktop/image-hero.jpg);
        padding: 1rem 2.5rem;
    }

    .Header__Nav>img:nth-child(2) {
        display: none;
    }

    .Header__Nav--List {
        display: flex;
        column-gap: 2rem;
        font-family: var(--Alata);
    }

    .Header__Body {
        width: 30rem;
        height: 12rem;
        text-align: left;
    }

    /*History*/
    .HistoryContent {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 30rem; /*29rem*/
        grid-template-areas: "Column1";
        align-items: center;
        row-gap: 1rem;
        padding: 0 1.7rem;
    }

    .HistoryContent>img:nth-child(1) {
        display: none;
    }

    .HistoryContent>img:nth-child(2) {
        display: block;
    }

    .HistoryContent>img {
        grid-area: Column1;

    }

    .History__Description {
        grid-area: Column1;
        background-color: var(--White);
        width: 24rem;
        height: auto;
        /*13rem*/
        transform: translateY(40%);
        position: relative;
        z-index: 9;
        left: 79%; 
        /* 23.3rem */
        top: -1.3rem;
        padding: 3rem 0 0rem 0;
        /* overflow: hidden; */
    }

    .History__Description>p:first-child {
        font-size: 2rem;
    }

    .History__Description>p:nth-child(2) {
        font-size: .8rem;
    }

    /*Creations*/

    .CreationContent {
        display: grid;
        grid-template-rows: 3rem 1fr 3.5rem;
        row-gap: 2rem;
    }

  

    .Creation__Items {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(4,20%); /*repeat(4, 10rem)*/
        justify-content: center;
        gap: 1rem;
    }

    /*Creation Articles*/

    .Creation__Items--article {
        font-size: 1.5rem;
    }

    .Earth {
        background-image: url(./images/desktop/image-deep-earth.jpg);
    }

    .Arcade {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./images/desktop/image-night-arcade.jpg);
    }

    .Soccer {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./images/desktop/image-soccer-team.jpg);
    }

    .Grid {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./images/desktop/image-grid.jpg);
    }

    .VR {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./images/desktop/image-from-above.jpg)
    }

    .Pocket {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./images/desktop/image-pocket-borealis.jpg);
    }

    .Curiosity {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./images/desktop/image-curiosity.jpg);
    }

    .Fisheye {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./images/desktop/image-fisheye.jpg);
    }

    /*Fotter*/
    .FotterContent{
        display: grid;
        grid-template-columns: max-content max-content;
        grid-template-rows: repeat(2,3rem);
        /* row-gap: 2rem; */
        padding: .5rem 3rem;
    }

    .Fotter__Title{
        height: 1.5rem;
    }

    .Fotter__nav{
        flex-direction: row;
        column-gap: 1rem;
        font-size: .8rem;
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .Fotter_Social{
        justify-content: end;
    }
}

/*@media Desktop: 1024px*/

@media screen and (min-width:1024px){

    /*Main*/
    .mainContent{
        grid-template-rows: 38rem 20rem 58rem 6rem;
        row-gap: 8rem; 
        /*28rem 20rem 48rem 6rem*/
    }

    /*Header*/
    .Header{
        padding: 0 6.9rem;
    }

    .Header__Body{
        width: 32rem;
        margin-top: 4rem;
        height: 15rem;
        padding: 0 2rem;
    }

    /*History*/

    .HistoryContent {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 30rem; /*29rem*/
        grid-template-areas: "Column1";
        align-items: center;
        row-gap: 1rem;
        padding: 0 1.7rem;

        grid-template-columns: 34rem;
        margin-left: 10rem;
    }

    .History__Description {
        top: 0;
        padding: 3rem 0 1rem 0;
        width: 28rem;
        left: 82%;
    }

    /*Creations*/

    .CreationContent {
        display: grid;
        grid-template-rows: 3rem 1fr;
        row-gap: 2rem;
    }

    .CreationContent>p{
        display: none;
    }

    .Creation__Top--Desktop{
        display: flex;
        justify-content: space-between;
        padding: 0 12rem;
        align-items: center;
    }

    .Creation__Top--Desktop>p{
        text-transform: uppercase;
        font-family: var(--Josefin_Sans);
        font-size: 2rem;
    }

    .Creation__Top--Desktop>.Creation__SeeMore>button{
        padding: .2rem 2.3rem;
        font-size: 1rem;
        border: 1px solid var(--Very_Dark_Gray);
    }

    .ButtonBotton{
        display: none;
    }

    .Creation__Items {
        grid-template-columns: repeat(4,16.4%);
        gap: 2rem;
    }





}