* {
    padding: 0;
    margin: 0;
}

html{
    font-size: 15px;
}


:root {
    /*Colors*/
    --White: hsl(0, 0%, 100%); 
    --Black: hsl(0, 0%, 0%);
    --Dark_Gray: hsl(0, 0%, 55%); 
    --Very_Dark_Gray: hsl(0, 0%, 41%);

    /*Fonts*/
    --Josefin_Sans:'Josefin Sans', sans-serif;
    --Alata: 'Alata', sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    max-width: 100%;
}


.mainContent{
    min-width:375px;
    display: grid;
    grid-template-rows: 42rem 35rem 1fr 35rem; /*42rem 40rem 42rem 30rem*/
    row-gap: 5rem; /*8 rem*/
}

/*Header Content*/
.Header{
    display: grid;
    color: var(--White);
    grid-template-rows: minmax(4rem,1fr) 30rem;/*35 rem 18rem*/
    background-image: url(./images/mobile/image-hero.jpg);
    background-size: cover;
    background-position: center;
    padding: 1rem;
    grid-template-areas: "HeaderNav" 
                         "HeaderBody";
}

/*Header Nav*/
.Header__Nav{
    grid-area: HeaderNav;
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    align-items: center;
}


.Header__Nav--Top>img{
    height: 5rem; /*1.3rem*/
}

.Header__Nav--List{
    display: none;
}

/*Header Toggle*/

.Header__Nav--Toggle{
    grid-area: HeaderBody;
    margin: .8rem 0;
    background-color: rgba(255, 255, 255, .1);
    /* background-color: red; */
    z-index: 999;
    border-radius: .6rem;
    padding: .5rem;
    display: flex;
    height:15rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transform: translateY(-200%);
    opacity: 0;
    font-family: var(--Alata);
    transition: all .7s ease-in-out;
}

.Header__Nav--Toggle>a{
    border-bottom: 2px solid var(--White);
    padding-bottom: .6rem;
}




/*Class for toggle menu*/

.ToggleMenu{
    transform: translateY(0);
    opacity: 1;
}

.ToggleBody{
    transform: translateY(-200%);
    opacity: 0;
}




/*Header Body*/
.Header__Body{
    grid-area: HeaderBody;
    display: flex;
    height: 15rem;
    margin-top: 5rem;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--White);
    font-family: var(--Josefin_Sans);
    font-size: 3rem;
    text-align: center;
    transition: all .7s;
    /* display: none; */
}

/*History Content*/

.HistoryContent{
    display: grid;
    grid-template-rows: 17rem 20rem;
    row-gap:1rem;
    padding: 0 1.7rem;
}

.HistoryContent>img{
    max-height: 100%;
    /* margin: 0 auto; */
}

.HistoryContent>img:nth-child(2){
    display: none;
}

.History__Description{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    text-align: center;
    align-items: center;
}

.History__Description>p:first-child{
    font-size: 2rem;
    font-family: var(--Josefin_Sans);
    font-weight: 300;
}

.History__Description>p:nth-child(2){
    font-size: 1.2rem;
    font-family: var(--Alata);
    color: var(--Dark_Gray);
}

/*Creation Content*/
.CreationContent{
    display: grid;
    grid-template-rows: 3rem 1fr 3.5rem; /*3rem auto 5rem*/
    row-gap: 3rem;
}

.CreationContent>p{
    justify-self: center;
    align-self: center;
    text-transform: uppercase;
    font-family: var(--Josefin_Sans);
    font-size: 2rem;
}

/*Creation Items */

.Creation__Items{
    display: grid;
    grid-template-rows: repeat(8,1fr); /*repeat 8,9.5*/
    row-gap: 1.5rem;
    padding: 0 1rem;
    overflow: hidden;
}

.Creation__Items--article{
    background-color: black;
    background-position: center;
    background-size: cover;
    padding: 1.3rem .7rem;
    display: flex;
    align-items: end;
    color: var(--White);
    font-family: var(--Josefin_Sans);
    font-size: 2rem;
    text-transform: uppercase;
}

.Creation__Items--article>p{
    width: 5rem;
    /* background-color: red; */
}

/*Creation Articles*/

.Earth{
    background-image: url(./images/mobile/image-deep-earth.jpg);
}

.Arcade{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./images/mobile/image-night-arcade.jpg);
    background-position: center;
    /* padding-left: 2.5rem; */
}

.Soccer{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./images/mobile/image-soccer-team.jpg);
}

.Soccer>p{
    width: 10rem;
}

.Grid{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./images/mobile/image-grid.jpg);
}

.VR{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./images/mobile/image-from-above.jpg)
}

.VR>p{
    width: 14rem;
}

.Pocket{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),  url(./images/mobile/image-pocket-borealis.jpg);
}

.Curiosity{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./images/mobile/image-curiosity.jpg);
    background-position: left;
    padding-bottom: 2rem;
}

.Fisheye{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./images/mobile/image-fisheye.jpg);
    background-position: left;
}

.Fisheye>p{
    width: 10rem;
}

/*Creation Button*/

.Creation__SeeMore{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--Alata);
    /* background-color: red; */
}

.Creation__SeeMore>button{
    padding: .6rem 3.8rem;
    color: #000;
    background-color: transparent;
    border: 2px solid var(--Very_Dark_Gray);
    outline: none;
    text-transform: uppercase;
    font-family: var(--Alata);
    font-weight: 400;
    font-size: 1.1rem;
}

/*Fotter Content*/

.FotterContent{
    background-color: var(--Black);
    color: var(--White);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0;
}

.Fotter__Title{
    height: 2rem;
}

.Fotter__Title>img{
    height: 100%;
}

/*Fottter Nav*/

.Fotter__nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.8rem;
    font-family: var(--Alata);
}

/*Fotter social*/

.Fotter_Social{
    display: flex;
    column-gap: 1.2rem;
}

/*Fotter Rights*/

.Fotter_Rights{
    font-family: var(--Josefin_Sans);
    font-size: 1.1rem;
    color: var(--Dark_Gray);
}



/*@media  Tablet: 768px*/

@media screen and (min-width:700px){
    /*Main Content*/
    .mainContent{
        grid-template-rows: 28rem 20rem 1fr 35rem; /*28rem 35rem 42rem 30rem*/
    }

    /*Header*/
    .Header{
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(./images/desktop/image-hero.jpg);
        padding: 1rem 2.5rem;
    }

    .Header__Nav>img:nth-child(2){
        display: none;
    }

    .Header__Nav--List{
        display: flex;
        column-gap: 2rem;
        font-family: var(--Alata);
    }

    .Header__Body{
        width: 30rem;
        height: 12rem;
        text-align: left;
    }

    /*History*/
    .HistoryContent{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 29rem;
        grid-template-areas: "Column1";
        align-items: center;
        row-gap:1rem;
        padding: 0 1.7rem;
    }

    .HistoryContent>img:nth-child(1){
        display: none;
    }

    .HistoryContent>img:nth-child(2){
        display: block;
    }

    .HistoryContent>img{
        grid-area: Column1;
        
    }



    .History__Description{
        grid-area: Column1;
        background-color: var(--White);
        width: 24rem;
        height: auto; /*13rem*/
        transform: translateY(40%);
        position: relative;
        z-index: 9;
        left: 23.3rem;
        top: -1.5rem;
        padding: 3rem 0 0rem 0 ;    
        /* overflow: hidden; */
    }

    .History__Description>p:first-child{
        font-size: 2rem;
    }

    .History__Description>p:nth-child(2){
        font-size: .8rem;
    }


}
